/*_fonts.scss*/

//Valencia
@font-face {
    font-family: 'Valencia';
    src: url('../../public/assets/fonts/Valencia/Regular/Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Valencia';
    src: url('../../public/assets/fonts/Valencia/Bold/Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Valencia';
    src: url('../../public/assets/fonts/Valencia/Bold_Italic/Bold_Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Valencia';
    src: url('../../public/assets/fonts/Valencia/Italic/Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

//Raleway
@font-face {
    font-family: 'Raleway-Black';
    src: url('../../public/assets/fonts/Raleway/static/Raleway-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-BlackItalic';
    src: url('../../public/assets/fonts/Raleway/static/Raleway-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('../../public/assets/fonts/Raleway/static/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-BoldItalic';
    src: url('../../public/assets/fonts/Raleway/static/Raleway-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('../../public/assets/fonts/Raleway/static/Raleway-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-ExtraBoldItalic';
    src: url('../../public/assets/fonts/Raleway/static/Raleway-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway-ExtraLight';
    src: url('../../public/assets/fonts/Raleway/static/Raleway-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-ExtraLightItalic';
    src: url('../../public/assets/fonts/Raleway/static/Raleway-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway-Italic';
    src: url('../../public/assets/fonts/Raleway/static/Raleway-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway-Light';
    src: url('../../public/assets/fonts/Raleway/static/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-LightItalic';
    src: url('../../public/assets/fonts/Raleway/static/Raleway-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('../../public/assets/fonts/Raleway/static/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-MediumItalic';
    src: url('../../public/assets/fonts/Raleway/static/Raleway-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('../../public/assets/fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('../../public/assets/fonts/Raleway/static/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-SemiBoldItalic';
    src: url('../../public/assets/fonts/Raleway/static/Raleway-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway-Thin';
    src: url('../../public/assets/fonts/Raleway/static/Raleway-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-ThinItalic';
    src: url('../../public/assets/fonts/Raleway/static/Raleway-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

//Oswald
@font-face {
    font-family: 'Oswald-Bold';
    src: url('../../public/assets/fonts/Oswald/static/Oswald-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-ExtraLight';
    src: url('../../public/assets/fonts/Oswald/static/Oswald-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-Light';
    src: url('../../public/assets/fonts/Oswald/static/Oswald-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-Medium';
    src: url('../../public/assets/fonts/Oswald/static/Oswald-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-Regular';
    src: url('../../public/assets/fonts/Oswald/static/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-SemiBold';
    src: url('../../public/assets/fonts/Oswald/static/Oswald-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}