/*_global.scss*/
@use '../global/_variables.scss' as variables;
@use '../global/fonts' as fonts;
@use '../global/utils' as utils;

*{
    scroll-behavior: smooth;
}

body{
    color: variables.$red-50;
    font-family: 'Raleway-Medium', roboto;
    overflow-x: hidden;
}