/*_variables.scss*/
$red-50: #fef3f2;
$red-100: #fee5e5;
$red-200: #fccfd0;
$red-300: #faa7ab;
$red-400: #f6767e;
$red-450_secondcolor: #fd7e84;
$red-500: #ed4654;
$red-600: #da243c;
$red-700_maincolor: #ac172e; //Logo
$red-800: #9a172f;
$red-900: #84172f;
$red-950: #490814;